In [4]:
!ls

adult.csv  Untitled.ipynb

In [5]:
import pandas as pd

df = pd.read_csv("adult.csv")

In [6]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [7]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
df.workclass.value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [12]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [13]:
df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [15]:
type(df['education'])

pandas.core.series.Series

In [16]:
type([df])

list

In [17]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [18]:
type(df.columns)

pandas.core.indexes.base.Index

In [19]:
df['income'].value_counts()

<=50K    24720
>50K      7841
Name: income, dtype: int64

### Metric to measure performance will be AUC as Y variable is skewed

In [20]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [25]:
# Dropping numeric variables and creating a logistic model to predict income.

num_cols = ["age","fnlwgt","education.num","capital.gain","capital.loss","hours.per.week"]

df_trim = df.drop(num_cols,axis=1)

In [28]:
df_trim.dtypes

workclass         object
education         object
marital.status    object
occupation        object
relationship      object
race              object
sex               object
native.country    object
income            object
dtype: object

In [55]:
# First step is to create folds of the data.

import pandas as pd
from sklearn import preprocessing
from sklearn import model_selection

# create a new column and fill it with -1
df_trim["kfold"]=-1

# next step is to randomize the rows of data
df_trim = df_trim.sample(frac=1).reset_index(drop=True)

# initiate the kfold class from model selection
kf = model_selection.KFold(n_splits=5)

# fill the kfold column
for fold, (trn_,val_) in enumerate(kf.split(X=df_trim)):
    df_trim.loc[val_,'kfold']= fold
    
df_trim.to_csv("adult_folds.csv")

In [56]:
print(kf)

KFold(n_splits=5, random_state=None, shuffle=False)

In [57]:
df_trim.kfold.value_counts()

0    6513
4    6512
3    6512
2    6512
1    6512
Name: kfold, dtype: int64

In [59]:
# Use one hot encoder and apply logistic regression to predict income field

import pandas as pd

from sklearn import linear_model
from sklearn import preprocessing
from sklearn import metrics

def run(fold):
    df = pd.read_csv("/home/anand/US_census_data/adult_folds.csv")

# map target values to 0 and 1

    target_mapping = {
        "<=50K": 0,
        ">50K": 1
    }

    df.loc[:,"income"] = df.income.map(target_mapping)

# getting the features. ALl except income and kfold
    features = [
        f for f in df.columns if f not in ("income","kfold")
    ]

# fill NaN values with None
    for col in features:
        df.loc[:,col] = df[col].astype(str).fillna("NONE")

# get the training data using folds
    df_train = df[df["kfold"] != fold].reset_index(drop=True)

# get the test data using folds
    df_valid = df[df["kfold"] == fold].reset_index(drop=True)

# initialize OneHotENcoder from sklearn
    ohe = preprocessing.OneHotEncoder()

# fit OHE on training + validation features
    full_data = pd.concat(
        [df_train[features],df_valid[features]],
        axis=0
        )

    ohe.fit(full_data[features])

# transform training data
    x_train = ohe.transform(df_train[features])

# transform the valid data
    x_valid = ohe.transform(df_train[features])

# initialize Logistic Regression model
    model = linear_model.LogisticRegression()

# fit model on the training data (ohe)
    model.fit(x_train,df_train.income.values)

# predict on validation data
# need probability values as we are measuring AUC
# we will use the probability of 1s
    valid_preds = model.predict_proba(x_valid)[:,1]

# get roc auc score
    auc = metrics.roc_auc_score(df_train.income.values,valid_preds)

# print auc
    print(f"Fold: {fold}, AUC: {auc}")

if __name__ == "__main__":
    for fold_ in range(5):
        run(fold_)

/home/anand/miniconda3/envs/ml/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Fold: 0, AUC: 0.9486576098595817

/home/anand/miniconda3/envs/ml/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Fold: 1, AUC: 0.947461585196704

/home/anand/miniconda3/envs/ml/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Fold: 2, AUC: 0.9468322425054982

/home/anand/miniconda3/envs/ml/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Fold: 3, AUC: 0.9477652071014455
Fold: 4, AUC: 0.9480237473451394

/home/anand/miniconda3/envs/ml/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)